# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
.turbo/
*.tsbuildinfo

# Expo / React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
ios/
android/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor/OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# prisma
prisma/dev.db
